.button {
  margin-block: 2rem;
  padding: 0.5rem 1rem;
  background-color: transparent;
  border: 1px dotted #9a02ac;
  color: #9a02ac;
  border-radius: 1rem;
  cursor: pointer;
  font-weight: 600;
  transition: all 0.4s easy-in-out;
}

.button:hover {
  background-color: #9a02ac;
  color: #231e38;
}

.button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.button:disabled:hover {
  background-color: transparent;
  color: #9a02ac;
}
