.createVoter {
  width: 95%;
  margin: 0 auto;
  margin-block: 2 rem;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  gap: 2rem;
}
.voter {
  background-color: #231e39;
  border-radius: 25px;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.35);
  color: #b3b8cd;
  padding: 2rem;
}

.voter__container__box {
  text-align: center;
  border: 1px dotted #9a02ac;
  border-radius: 5px;
}
.voter__container__box p {
  line-height: 0.5s;
}
.voterInfo {
  position: absolute;
  top: 12rem;
  left: 3rem;
  width: 15rem;
  height: 15rem;
  padding: 1rem;
  background-color: #231e39;
  border-radius: 25px;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.35);
  color: #b3b8cd;
  text-align: start;
}

.voterInfo img {
  width: 100%;
  height: 100%;
  border-radius: 25px;
}

.voterInfo_paragragh {
  background-color: #231e39;
  border-radius: 25px;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.35);
  color: #b3b8cd;
  height: 9rem;
  padding: 1rem;
}
.voterInfo_paragragh p {
  line-height: 1rem;
}
.voterInfo_paragragh p span {
  font-size: 12px;
}
/* ------INPUT */
.input__container {
  padding-top: 2rem;
  width: 80%;
  margin: 0 auto;
}
/* /-----------SIDE-INFO-------- */
.sideInfo {
  background-color: #231e39;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  color: #b3b8cd;
}
.sideInfo_box h4 {
  background-color: #9a02ac;
  padding: 0.5rem;
  border-radius: 0.2rem;
}
.sideInfo_para {
  background-color: #9a02ac;
  padding: 0.5rem;
  border-radius: 0.2rem;
}
.card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}
.card_box {
  line-height: 1;
  border: 1px solid #9a02ac;
  padding: 0.2rem;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.35);
  border-radius: 0.3rem;
}

.image img {
  width: 100%;
}
/* ------------USER LIST */
.createdVoter__info {
  background-color: #231e39;
  border-radius: 25px;
  display: grid;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.35);
  color: #b3b8cd;
  padding: 2rem;
}
.Button {
  text-align: end;
}
@media screen and (max-width: 45em) {
  .createVoter {
    width: 90%;
    grid-template-columns: 1fr;
  }
  .voter {
    width: 100%;
    padding: 1rem;
  }
  .input__container {
    width: 100%;
  }
  .voterInfo {
    width: 12rem;
    height: 12rem;
    top: 2rem;
    left: 0rem;
    cursor: pointer;
  }
  .voterInfo_paragragh {
    font-size: 12px;
    height: 7.5rem;
  }
}
